$yellowColor: #E9C46A;
$blackColor: #264653;
$redColor: #E76F51;
$greenColor: #2A9D8F;
$whiteColor: #EBB9B3;

.ListTitle {
  width: 100%;
  margin-bottom: 0;
  .titleInput {
    font-size: 25px;
  }
  .block {
    overflow: hidden;
    div{
      transition: all 1s;
      margin-top: 0;
      &.close {
        margin-top: -50rem;
      }
    }    
  }
  button {
    background: $yellowColor;
    color: $blackColor;
    &.remove {
      background: $redColor;
      color: $whiteColor;
      &:hover {
        color: $redColor;
      }
    }
    &:hover {
      background: $blackColor;
      color: $yellowColor;
    }
  }
}