.MenuToggle {
  position: fixed;
  top: 80px;
  left: 20px;
  font-size: 20px;
  cursor: pointer;
  color: #000;
  z-index: 1000;
  transition: opacity, left .22s ease-in;
  &:hover {
    opacity: .7;
  }
  &.open {
    left: 320px;
  }
  @media only screen and (max-width: 600px) {
    top: 120px;
  }
}